td, th {
    border: none;
    font-size: 20px;
  }
  
  h5, h6 {
    margin: 2px;
  }
  
  #table {
    border-radius: 32px;
    padding: 0px;
    height: 540px;
  }
  
  #table2 {
    border-radius: 32px;
    padding: 0px;
    height: 680px;  
  }
  
  .day1 {
    margin-top: 25px;
  }
  
  .day2 {
    margin-top: 25px;
  }
  
  .dayhead {
    font-size: 24px;
  }
  
  @media(min-width: 950px)
  {
    .dayhead {
      font-size: 36px;
    }
  
    .day1 {
      margin-top: 25px;
    }
  
    .day2 {
      margin-top: 100px;
    }
  }
  
  @media(min-width: 1050px)
  {
    .dayhead {
      font-size: 42px;
    }
  
    .day1 {
      margin-top: 60px;
    }
  
    .day2 {
      margin-top: 170px;
    }
  }
  
  @media(min-width: 1200px)
  {
    .dayhead {
      font-size: 48px;
    }
  
    .day1 {
      margin-top: 160px;
    }
  
    .day2 {
      margin-top: 300px;
    }
  }
  
  
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in-out;
    border-radius: 10px;
    background-color: transparent;
    position: absolute;
  
    text-align: center;
  }
  
  .card1 {
    color:#fef8c0;
    background-color: rgba(46, 49, 146, 0.75);
  }
  
  .card2 {
    color:#2e3192;
    background-color: rgba(80, 198, 223, 0.75);
  }
  
  .card3
  {
    color: #2e3192;
    background-color: rgba(247, 141, 54, 0.75);
  }
  
  .card:hover {
    transform: scale(1.05);
    opacity: 100%;
  }
  
  .card-text {
    display: block;
  }